@CHARSET "UTF-8";
.editbtn {display:inline-block; width:16px; height:16px; background:url(../../public/img/edit.jpg) no-repeat no-repeat; cursor:pointer;}
#addReport table td{padding-top:10px;}
.reportContainer{width:96%;margin-left:2%;}