
 .moudle,.storelogomoudle,.shelflogomoudle,.collogomoudle,.layerlogomoudle,.boxlogomoudle{
 	float :left;
 	margin-left:20px;
 	margin-top:30px;
 	width:55px;
 	height:60px;
 	cursor:pointer;
 }

 .storeCode{
 	margin-top:5px;
 	text-align:center;
 }
 
 .nav,.connector{
 	float:left;
 }
 .nav{
 	cursor:pointer;
 	color:#4a8bc2;
 	margin-left:5px;
 }
 #navContainer{
 	margin-left:20px;
 	
 }
 .shelf{
 	float:right;
 	position:absolute;
 	right:20px;
 	color:#4a8bc2;
 	cursor:pointer;
 }	
 .activeSelected {
   border:1px solid red;
}
.storeContainer{
overflow-y: auto;
white-space: nowrap;
margin-left: 15px;
width: 680px;
height: 350px;
}

 .storelogo,.collogo,.layerlogo,.shelflogo{
    width:45px;
 	height:45px;
 	cursor:pointer;
 	margin-left: 5px;
 	
 }
.storelogo{
 	background:url(../img/wenjianjia.png) scroll 100% 100% transparent;
 }
.shelflogo{
	background:url(../images/shelf.png) no-repeat no-repeat;
}
.collogo{
	background:url(../images/col.png) no-repeat no-repeat;
}
.layerlogo{
	background:url(../images/layer.png) no-repeat no-repeat;
}
.shelfCol{
	float:left;
	width:80px;
	background-color:#4a8bc2;
}
.shelfLayer{
	width:60px;
	height:60px;
	margin-top:10px;
	margin-left:10px;
	background-color:white;
}
.shelfDetails{
	margin-left:20px;
	color:white;
}
.boxCls{
	float:left;
	width:15px;
	height:60px;
	margin-left:3px;
	cursor:pointer;
	background-color:#41b3e5;
}

.link {display:inline-block; width:16px; height:16px; background:url(../images/file.png) no-repeat no-repeat; cursor:pointer;}

/*单击后让这个div颜色加深*/

.oneclick {margin-top: 5px;text-align: center;background-color:B8A4A4;}
.oneclickagain {margin-top: 5px;text-align: center;background-color:white;}

/*小房子*/
#getIndex {
background: url(../img/home2.png) scroll 100% 100% transparent;
width: 24px;
height: 24px;
margin-left: 10px;
margin-top: 5px;
cursor:pointer;
}

/*返回上一级*/
#goBack {
	background: url(../img/back2.png) scroll 100% 100% transparent;
width: 24px;
height: 24px;
margin-left: 40px;
margin-top: -24px;
cursor:pointer;
	
}
/*重命名*/
#rename {
	background: url(../img/rename.png) scroll 100% 100% transparent;
width: 24px;
height: 24px;
margin-left: 70px;
margin-top: -24px;
cursor:pointer;
	
}
/*删除*/
#delete {
	background: url(../img/delete.png) scroll 100% 100% transparent;
width: 24px;
height: 24px;
margin-left: 100px;
margin-top: -24px;
cursor:pointer;
	
}

/*页面头*/
.headerheader {
background: #C0CFC9;
height: 2.1rem;
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.15);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.15);
box-shadow: 0 1px 4px rgba(0,0,0,0.15);
/* position: fixed; */
top: 0;
left: 0;
right: 0;
z-index: 100;
margin-top: -5px;
}
/*a链接的位置*/
#escPath {
	margin-left: 200px;
margin-top: -20px;
	
}


header a:link {color:#FF0000;}/* 未被访问的链接 */

header a:visited {color:#00FF00;}/* 已被访问的链接 */

header a:hover {color:#FF00FF;}/* 鼠标指针移动到链接上 */

header a:active {color:#0000FF;}/* 