@charset "utf-8";
/* CSS Document */
ptitle
{
	text-align:left; 
	line-height:120%; 
	font-size:20px; 
	color:#232323;
}
summary
{
	line-height:180%;
	font-size:17px;
	/* 	color:#ACACAC; */
	color:#000000;
}
.summary
{
	background-color:#e5e5e5;
	padding: 10px;
}
summary-type
{
	background-color:#2a60bf;
	color:#ffffff;
	font-size:15px;
	padding: 3px 5px 3px 5px;
}
pinfo
{
	text-align:left; 
	line-height:20%;
 	font-size:12px; 
 	color:#b3b3b3
}
hr line
{
	eight:1px;
	border-width:0;
	color:#e8e8e8;
	background-color:#e8e8e8;
}
ptext
{
	line-height:180%;
	font-size:100%;
}
span.highlight
{
	background-color:#2a60bf;
	color:#ffffff;
	font-size:15px;
	padding: 3px 5px 3px 5px;
}
