@CHARSET "UTF-8";
/*
 * 系统首页
 * 方吉祥
 *
 */

body{ margin:0 auto; padding:0;}
a{ text-decoration:none; color:#333;}
input,textarea{outline:0; margin:0; padding:0;}
h2,h3{ font-weight:normal;}
p{ margin:0; padding:0; font-size:normal}

.paper{ width:990px; height:auto; overflow:hidden; margin:0 auto;}

.Nav{width:990px; height:auto; overflow:hidden;}
.Mainer{ width:990px; height:auto; overflow:hidden; margin:15px 0;}

.index_box{ width:100%; height:auto; overflow:hidden; float:left;}
.NavChild{ width:988px; height:auto; overflow:hidden; float:left; border-left:1px solid #ccc; border-right:1px solid #ccc;}
.navbottombg{ width:990px; height:5px; overflow:hidden; float:left; background:url(../img/NavChild.bg.gif) no-repeat 0 -57px;}
.leftFree,.middleFree,.rightFree{ height:auto; overflow:hidden; float:left;}
.leftFree{ width:260px;}
.middleFree{ width:450px; margin:0 10px;}
.rightFree{ width:260px;}

/* 子导航  */
.NavChild li{ width:100px; font-size:14px; font-weight:bold; line-height:60px; text-align:center; float:left;}
.NavChild .Sline{ width:10px; line-height:60px; font-size:15px; font-weight:normal; color:#666;}
.NavChild a{ color:#333;}
.NavChild a:hover{ color:#A11212;}
.NavChild .extendsli{ color:#A11212; font-size:17px; cursor:pointer;}

/* 档案规范,大事迹 ,档案新闻,档案故事*/
.baselist{ width:258px; height:auto; overflow:hidden; float:left; margin-bottom:10px; border:1px solid #ccc;}

/* 标题  */
.title{ width:100%; height:40px; float:left; overflow:hidden;}	/* overflow去除多余的行高 */
.title{ background:url(../img/title.bg.gif);}
.titleText{ float:left; padding-left:26px; line-height:42px; font-size:13px; letter-spacing:1px; background:url(../img/titleIcon.bg.gif) no-repeat;}
.extitleText{ float:left; padding-left:40px; line-height:30px; font-size:13px; letter-spacing:1px;}
.titleMore,.tasksMore{ width:47px; height:40px; line-height:40px; text-align:center; float:right; margin-right:5px; background:url(../img/titleMore.bg.gif) no-repeat;}
.title a:hover{ color:#A11212;}


/* 列表 注释掉

.list{ width:240px; height:auto; overflow:hidden; float:left; margin-left:10px; padding-bottom:23px; _display:inline;}
.list li{ width:100%; height:26px; float:left; border-top:1px dotted #ccc;}
.list li.noborder{ border-top:0;}
.list li u{ width:240px; line-height:26px; text-indent:10px; text-decoration:none; color:red; float:left;}
.list li a{ width:240px; line-height:26px; text-indent:10px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; float:left; background:url(../img/listIcon.bg.gif) no-repeat -4px center;}
.list li a:hover{ color:#f00;}
.tasks li a{ width:180px;}
 */


/* 全国门户 */
.uimap{ width:448px; height:440px; float:left; margin-bottom:10px; border:1px solid #ccc;}
.swfmap{ width:448px; height:400px; float:left;}

/*待办事宜*/
.tasks a{ width:180px; line-height:25px; text-indent:15px; float:left; background:url(../img/listIcon.bg.gif) no-repeat -4px center; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.tasks a:hover{ text-decoration:underline; color:#A11212}
.tasks span{ width:60px; line-height:25px; text-align:right; color:#777; float:right;}


/* 图片浏览 */
.lockscreen{ width:100%; height:auto; overflow:hidden; position:absolute; top:0; left:0; z-index:1900; background:#000; display:none;}
.lockscreen .atpicturebed{ width:980px; height:auto; overflow:hidden; float:left; _display:inline;}
.lockscreen .atpicturebed .h1{ width:980px; height:50px; float:left; margin-top:20px;}
.lockscreen .atpicturebed .h1 h2{ width:950px; height:50px; font-size:24px; font-weight:bold; font-family:微软雅黑,黑体,宋体,arial; text-align:center; letter-spacing:5px; color:#fff; float:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.lockscreen .atpicturebed .h1 .closelockscreen{ width:15px; height:15px; float:left; background:url(../img/icon.png) -14px 30px; cursor:pointer;}
.lockscreen .atpicturebed p{ width:100%; height:30px; line-height:30px; font-size:14px; font-family:微软雅黑,黑体,宋体,arial; text-align:center; color:#aaa; float:left;}
.lockscreen .atpicturebed .atpicshow{ width:100%; height:auto; overflow:hidden; float:left; margin-top:20px;}
.lockscreen .atpicturebed .atpicshow .thepicworld{ width:870px; height:400px; text-align:center; float:left; padding:23px; overflow:hidden;}
.lockscreen .atpicturebed .atpicshow .thepicworld img{ cursor:pointer}
.lockscreen .atpicturebed .atpicshow .thepicworld img.none{ display:none;}

.lockscreen .atpicturebed .atpicmain{ width:100%; height:auto; overflow:hidden; line-height:22px; color:#fff; float:left; margin-top:20px;}

.lockscreen .atpicturebed .atpicthumb{ width:978px; height:130px; float:left; margin:20px 0 30px 0; background:#0D0D0D; border:1px solid #212121; opacity:1;}
.lockscreen .atpicturebed .atpicthumb .picthumbed{ width:916px; height:130px; float:left; overflow:hidden; position:relative;}
.lockscreen .atpicturebed .atpicthumb ul{ height:90px; float:left; margin-top:20px; overflow:hidden; position:absolute; left:0;}
.lockscreen .atpicturebed .atpicthumb ul li{ width:116px; height:90px; float:left; margin:0 5px; overflow:hidden; position:relative; _display:inline;}
.lockscreen .atpicturebed .atpicthumb ul li img{ width:110px; height:84px; float:left; border:3px solid #0D0D0D; cursor:pointer;}
.lockscreen .atpicturebed .atpicthumb ul li img.border{ border:3px solid #fff;}
.lockscreen .atpicturebed .atpicthumb ul li img.noborder{ border:3px solid #0D0D0D;}
.lockscreen .atpicturebed .atpicthumb ul li b{ padding:0 2px; position:absolute; right:3px; bottom:3px; background:#000; color:#fff;}

/* 共用左右按钮样式 */
.lockscreen .pos .taga{ width:20px; height:63px; float:left; margin:35px 5px; background:url(../img/icon.png); _display:inline;}
.lockscreen .pos .p{ background-position:-23px 0px;}
.lockscreen .pos .n{ background-position:0px 0px;}
.lockscreen .pos .p:hover{ background-position:0px -70px;}
.lockscreen .pos .n:hover{ background-position:-23px -70px;}
/* 共用左右按钮样式结束 */

.picture_full_content{ width:980px; height:auto; float:right; z-index:2000; _display:inline;}
.show_img_info{ width:100%; height:auto; float:left; margin:20px 0;text-align:center;}
.show_img_info h1{ width:100%; height:40px; line-height:40px; color:#fff; font-size:20px; font-weight:bold; float:left;}
.show_img_info span{ width:100%; height:30px; line-height:30px; color:#ccc; font-size:13px; float:left;}
.show_img_info p{ width:100%; height:auto; line-height:20px; color:#fff; font-size:13px; float:left;}

/*------- 信息列表,详细共用页面 ------*/
.publicpaper{ width:988px; height:auto; overflow:hidden; float:left; border:1px solid #ccc;}
.publicpaper .title{ width:100%; height:33px; float:left; padding-top:7px; background:url(../img/title.bg.gif) repeat-x;}
.publicpaper .title span{ width:100px; line-height:26px; font-size:15px; font-family:微软雅黑,黑体,宋体,仿宋,arial; text-indent:20px; float:left;}
.publicpaper .title b{ width:26px; height:26px; float:left; background:url("../img/to.gif") no-repeat scroll center center transparent;}
.publicpaper .title a{ line-height:26px; font-size:15px; font-family:微软雅黑,黑体,宋体,仿宋,arial; text-align:center; float:left; display:block;}
.publicpaper .title a:hover{ color:#f00;}
.publicpaper .title a.gohome{ width:50px;}
.publicpaper .title a.more{ width:80px;}
.publicpaper .title a.detail{ width:700px; text-indent:10px; text-align:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.publicpaper .conts{ width:100%; height:auto; overflow:hidden; float:left;}
/* 共用结束 */

/* 信息列表 */
.publicpaper .conts .archivelist{ width:972px; height:auto; overflow:hidden; float:left; margin:0 8px 15px; _display:inline;}
.publicpaper .conts .archivelist li{ width:972px; height:30px; float:left; border-bottom:1px dotted #ddd;}
.publicpaper .conts .archivelist li a{ width:100%; height:30px; float:left;}
.publicpaper .conts .archivelist li a:hover{ color:#f00;}
.publicpaper .conts .archivelist li h2{ width:700px; line-height:30px; float:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.publicpaper .conts .archivelist li span{ width:25px; line-height:30px; font-family:微软雅黑,黑体,宋体,仿宋,arial; float:left;}
.publicpaper .conts .archivelist li p,.publicpaper .conts .archivelist li i{ width:100px; line-height:30px; float:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.publicpaper .conts .archivelist li i{ width:145px;}
.publicpaper .conts .archivelist li u{ width:240px; line-height:26px; text-indent:10px; text-decoration:none; color:red; float:left;}
.publicpaper .conts .papernavigation{ width:988px; height:30px; float:left;}/* 列表分布按钮 */
.publicpaper .conts .papernavigation li{ float:left; margin:0 5px; border:1px solid #f00;}
.publicpaper .conts .papernavigation .dotted{ border:0;}
.publicpaper .conts .papernavigation li span{ line-height:20px; color:#444; font-weight:bold; display:block; cursor:default;}
.publicpaper .conts .papernavigation li a{line-height:20px; color:#f00; display:block; padding:0 5px;}
.publicpaper .conts .papernavigation li a:hover{ color:#fff; background:#f00;}
.publicpaper .conts .papernavigation li .pagenow{ color:#fff; background:#f00;}

/* 信息列表结束 */

/* 详细页面 */
.publicpaper .conts h3{ width:980px; line-height:80px; font-size:22px; font-weight:bold; font-family:微软雅黑,黑体,宋体,仿宋,arial; text-align:center; float:left; padding-left:4px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.publicpaper .conts h4{ width:980px; height:40px; font-size:14px; color:#666; font-weight:normal; font-family:微软雅黑,黑体,宋体,仿宋,arial; text-align:center; float:left; padding-left:4px;}
.publicpaper .conts .summary{ width:800px; height:100px; float:left; margin-left:85px; padding:5px 8px; border:1px solid #ccc; background:#FBFCDC; _display:inline;}
.publicpaper .conts .summary span{ width:100%; line-height:24px; font-size:13px; color:#D14500; font-family:微软雅黑,黑体,宋体,仿宋,arial; font-weight:normal; float:left;}
.publicpaper .conts .summary p{ width:784px; height:75px; line-height:20px; font-size:13px; text-indent:2em; float:left; overflow:hidden;}
.publicpaper .conts .main,.publicpaper .conts .files{ width:818px; height:auto; overflow:hidden; float:left; margin: 15px 0 15px 85px; _display:inline;}
.publicpaper .conts .file{ width:818px; height:30px; float:left; margin-bottom:5px; border-bottom:1px dotted #ccc;}
.publicpaper .conts .file h2,.publicpaper .conts .file span{ overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.publicpaper .conts .file p{ width:26px; height:26px; float:left; margin:2px 5px; _display:inline;}
.publicpaper .conts .file h2{ width:430px; line-height:30px; float:left;}
.publicpaper .conts .file span{ width:115px; line-height:30px; float:left; margin-right:5px;}
.publicpaper .conts .file a{ width:50px; line-height:30px; text-align:center; color:#00f; float:left; text-decoration:underline;}
.publicpaper .conts .file a:hover{ color:#f00;}

/* 详细页面结束 */


/* 图说档案 */
.photoreadfile{ width:448px; height:auto; float:left; border:1px solid #ccc; margin-bottom:10px; overflow:hidden;}
.photoreadfile .title{ width:448px; height:25px; float:left; background:url(../img/title.bg.gif)}
.photoreadfile .title h2{ line-height:24px; text-indent:25px; float:left; background:url(../img/titleIcon.bg.gif) no-repeat 0 -8px;}
.photoreadfile .title a{ width:50px; height:24px; line-height:24px; text-align:center; text-indent:5px; float:right; background:url("../img/titleMore.bg.gif") no-repeat scroll 3px -8px transparent;}
.photoreadfile .pplayer{ width:438px; height:211px; float:left; margin:5px; _display:inline; overflow:hidden;}
.photoreadfile .pplayer .photo, .photoreadfile .pplayer .photo li{ width:360px; height:210px; float:left; overflow:hidden;}
.photoreadfile .pplayer .photo li a{ width:358px; height:208px; float:left; border:1px solid #eee;}
.photoreadfile .pplayer .photo li{ display:none;}
.photoreadfile .pplayer .photo li u{ width:240px; line-height:26px; text-indent:10px; text-decoration:none; color:red; float:left;}
.photoreadfile .pplayer .photo li a:hover{ border:1px solid #f00;}
.photoreadfile .pplayer .photo li span{ width:358px; height:208px; float:left; overflow:hidden; position:relative;}
.photoreadfile .pplayer .photo li span img{ display:block;}
.photoreadfile .pplayer .photo li span div{ width:358px; height:24px; position:absolute; top:180px; left:1px; background-color:rgba(0,0,0,0.3); background:#000\9; filter:alpha(opacity=30);}
.photoreadfile .pplayer .photo li span h6{ width:348px; height:24px; position:absolute; top:180px; left:6px; line-height:24px; color:#fff; text-align:center; font-weight:normal; text-shadow:2px 1px 1px #000; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}


.photoreadfile .pplayer .btn{ width:70px; height:210px; float:right;}
.photoreadfile .pplayer .btn li{ width:70px; height:39px; float:left; margin-bottom:4px;}
.photoreadfile .pplayer .btn li div{ width:68px; height:37px; float:left; border:1px solid #eee; cursor:pointer;}
.photoreadfile .pplayer .btn li div span{ width:68px; height:37px; float:left; overflow:hidden;}

.photoreadfile .pplayer .photo li a.focus, .photoreadfile .pplayer .btn li div.focus{ border:1px solid #f00;}
.photoreadfile .pplayer .photo .block{ display:block;}

/* 图说档案结束 */

/* 搜索 */
.archive-search-form{ width:258px; height:30px; float:left; margin-bottom:10px; border:1px solid #de3232;}
.archive-search-form input{ width:200px; height:18px; font:normal normal normal 14px/18px 微软雅黑,黑体,宋体,arial; float:left; margin:6px 4px; border:0; padding:0;}
.archive-search-form span{ width:50px; height:30px; font:normal normal normal 14px/30px 微软雅黑,黑体,宋体,arial; text-align:center; color:#fff; float:left;  background:#de3232; cursor:pointer; text-shadow:1px 1px 1px #111;}

.footer{ width:990px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.archive-search-form input{ margin-left:4px !important;}
}