<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>关于我们</title>
<link rel="stylesheet" href="index/index.css">
<link rel="stylesheet" href="index/about.css">
</head>
<body>
	<div id="firstPageHeader" class="navbar">
		<div class="container">
			<div class="navbar-header navbar-brand">
				<img class="navbar-logo" src="index/fybot.png" alt=""> <span
					class="navbar-head">关于我们</span>
			</div>
		</div>
	</div>
	<div>
		<div class="parentDiv_">
			<div class="parentDiv_div_h1_">
				<center><h1>关于我们</h1></center>
			</div>
			<div class="parentDiv_secendDiv_">
				<div class="parentDiv_textarea_">
					<div style="margin-top: 50px;"><h3>&nbsp;&nbsp;&nbsp;&nbsp;本系统是一套档案管理系统，用于处理各类有关文档的信息，对文档的各项操作，权限管理，知识共享等各种操作。本系统是一套档案管理系统，用于处理各类有关文档的信息，对文档的各项操作，权限管理，知识共享等各种操作。</h3></div>
					<div style="margin-top: 50px;"><h3>&nbsp;&nbsp;&nbsp;&nbsp;本系统是一套档案管理系统，用于处理各类有关文档的信息，对文档的各项操作，权限管理，知识共享等各种操作。本系统是一套档案管理系统，用于处理各类有关文档的信息，对文档的各项操作，权限管理，知识共享等各种操作。</h3></div>
					<div style="margin-top: 50px;"><h3>&nbsp;&nbsp;&nbsp;&nbsp;本系统是一套档案管理系统，用于处理各类有关文档的信息，对文档的各项操作，权限管理，知识共享等各种操作。本系统是一套档案管理系统，用于处理各类有关文档的信息，对文档的各项操作，权限管理，知识共享等各种操作。</h3></div>
					<div style="margin-top: 50px;"><h3>&nbsp;&nbsp;&nbsp;&nbsp;本系统是一套档案管理系统，用于处理各类有关文档的信息，对文档的各项操作，权限管理，知识共享等各种操作。本系统是一套档案管理系统，用于处理各类有关文档的信息，对文档的各项操作，权限管理，知识共享等各种操作。</h3></div>
				</div>
			</div>
			<div class="parentDiv_div_btn_">
				<input type="button" class="parentDiv_input_btn_" id="parentDiv_input_btn_look" value="我已阅读">
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer-content">
			<div class="footer-top">
				<img class="footer-logo" src="index/flyingsoftlogo.png">
				<div class="footer-line"></div>
				<ul class="footer-contact">
					<li>北京东方飞扬软件股份有限公司</li>
					<li>版权所有：北京东方飞扬软件股份有限公司 © 2015</li>
				</ul>
			</div>
			<!-- <div class="copyright">版权所有：北京东方飞扬软件股份有限公司  © 2015</div> -->
		</div>
	</div>
</body>
<script type="text/javascript" src="/templates/onlinefile/js/jquery.min.js"></script>
<script src="index/jquery.showLoading.min.js"></script>
<script type="text/javascript">
!function(e){
	$(".parentDiv_textarea_").height(window.innerHeight-360);
	$("#parentDiv_input_btn_look").click(function(){
		window.close();
	});
}();
</script>
</html>