/** 文件类型的图标 */

.filetype_icon{background-repeat:no-repeat;display:inline-block}
.filetype_icon.folder{background:url(../img/icon-folder.png);width:80px;height:80px;margin:-10px;transform: scale(.6);}
.filetype_icon.s36.folder{background:url(../img/icon-folder-36.png);width:36px;height:36px;margin: -2px -5px;}
.filetype_icon.s24{background:url(../img/filetype_icons.png);width:24px;height:32px;background-position:0 -2588px;background-repeat: no-repeat;}
.filetype_icon.s48{background:url(../img/filetype_icons_@2x.png);width:48px;height:64px;background-position:0 -2588px;transform: scale(.6);background-repeat: no-repeat;}
.filetype_icon.audio,.filetype_icon.mp3,.filetype_icon.wav,.filetype_icon.m4a,.filetype_icon.ogg{background-position:0 -4px}
.filetype_icon.text,.filetype_icon.txt,.filetype_icon.rtf{background-position:0 -72px}
.filetype_icon.png,.filetype_icon.jpg,.filetype_icon.jpeg,.filetype_icon.gif,.filetype_icon.bmp,.filetype_icon.eps,.filetype_icon.image,.filetype_icon.pages,.filetype_icon.tiff{background-position:0 -140px}
.filetype_icon.vector{background-position:0 -208px}
.filetype_icon.video,.filetype_icon.flv,.filetype_icon.mov,.filetype_icon.avi,.filetype_icon.mp4{background-position:0 -276px}
.filetype_icon.key,.filetype_icon.keynote,.filetype_icon.presentation{background-position:0 -344px}
.filetype_icon.spreadsheet,.filetype_icon.csv,.filetype_icon.tsv,.filetype_icon.numbers{background-position:0 -412px}
.filetype_icon.iso{background-position:0 -480px}
.filetype_icon.zip{background-position:0 -548px}
.filetype_icon.dmg{background-position:0 -616px}
.filetype_icon.exe{background-position:0 -684px}
.filetype_icon.cad{background-position:0 -752px}
.filetype_icon.gfx3d{background-position:0 -820px}
.filetype_icon.db,.filetype_icon.sql{background-position:0 -888px}
.filetype_icon.pdf{background-position:0 -956px}
.filetype_icon.binary{background-position:0 -1500px}
.filetype_icon.md,.filetype_icon.markdown{background-position:0 -1704px}
.filetype_icon.html{background-position:0 -1772px}
.filetype_icon.css{background-position:0 -1840px}
.filetype_icon.php{background-position:0 -1908px}
.filetype_icon.code,.filetype_icon.c,.filetype_icon.cpp,.filetype_icon.csharp,.filetype_icon.diff,.filetype_icon.erlang,.filetype_icon.java,.filetype_icon.javascript,.filetype_icon.objc,.filetype_icon.perl,.filetype_icon.python,.filetype_icon.ruby,.filetype_icon.erb,.filetype_icon.rb,.filetype_icon.xml{background-position:0 -1976px}
.filetype_icon.post{background-position:0 -2044px}
.filetype_icon.snippet{background-position:0 -2112px}
.filetype_icon.space{background-position:0 -2656px}
.filetype_icon.email{background-position:0 -2724px}
.filetype_icon.gpres{background-position:0 -2180px}
.filetype_icon.gsheet{background-position:0 -2248px}
.filetype_icon.gdoc{background-position:0 -2316px}
.filetype_icon.gdraw,.filetype_icon.gform{background-position:0 -2384px}
.filetype_icon.dropbox{background-position:0 -2452px}
.filetype_icon.doc,.filetype_icon.docx{background-position:0 -1024px}
.filetype_icon.xls,.filetype_icon.xlsx{background-position:0 -1092px}
.filetype_icon.ppt,.filetype_icon.pptx{background-position:0 -1160px}
.filetype_icon.ai{background-position:0 -1228px}
.filetype_icon.psd{background-position:0 -1296px}
.filetype_icon.indd{background-position:0 -1364px}
.filetype_icon.fla{background-position:0 -1432px}
.filetype_icon.swf{background-position:0 -2520px}
.filetype_icon.apk{background-position:0 -1568px}
.filetype_icon.ipa{background-position:0 -1636px}
/*
@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:2/1),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx){.filetype_icon.s24{background:url(../img/filetype_icons_@2x.png);background-size:24px;background-position:0 -1294px}
.filetype_icon.audio.s24,.filetype_icon.mp3.s24,.filetype_icon.wav.s24,.filetype_icon.m4a.s24,.filetype_icon.ogg.s24{background-position:0 -2px}
.filetype_icon.text.s24,.filetype_icon.txt.s24,.filetype_icon.rtf.s24{background-position:0 -36px}
.filetype_icon.png.s24,.filetype_icon.jpg.s24,.filetype_icon.jpeg.s24,.filetype_icon.gif.s24,.filetype_icon.bmp.s24,.filetype_icon.eps.s24,.filetype_icon.image.s24,.filetype_icon.pages.s24,.filetype_icon.tiff.s24{background-position:0 -70px}
.filetype_icon.vector.s24{background-position:0 -104px}
.filetype_icon.video.s24,.filetype_icon.flv.s24,.filetype_icon.mov.s24,.filetype_icon.avi.s24,.filetype_icon.mp4.s24{background-position:0 -138px}
.filetype_icon.key.s24,.filetype_icon.keynote.s24,.filetype_icon.presentation.s24{background-position:0 -172px}
.filetype_icon.spreadsheet.s24,.filetype_icon.csv.s24,.filetype_icon.tsv.s24,.filetype_icon.numbers.s24{background-position:0 -206px}
.filetype_icon.iso.s24{background-position:0 -240px}
.filetype_icon.zip.s24{background-position:0 -274px}
.filetype_icon.dmg.s24{background-position:0 -308px}
.filetype_icon.exe.s24{background-position:0 -342px}
.filetype_icon.cad.s24{background-position:0 -376px}
.filetype_icon.gfx3d.s24{background-position:0 -410px}
.filetype_icon.db.s24,.filetype_icon.sql.s24{background-position:0 -444px}
.filetype_icon.pdf.s24{background-position:0 -478px}
.filetype_icon.binary.s24{background-position:0 -750px}
.filetype_icon.md.s24,.filetype_icon.markdown.s24{background-position:0 -852px}
.filetype_icon.html.s24{background-position:0 -886px}
.filetype_icon.css.s24{background-position:0 -920px}
.filetype_icon.php.s24{background-position:0 -954px}
.filetype_icon.code.s24,.filetype_icon.c.s24,.filetype_icon.cpp.s24,.filetype_icon.csharp.s24,.filetype_icon.diff.s24,.filetype_icon.erlang.s24,.filetype_icon.java.s24,.filetype_icon.javascript.s24,.filetype_icon.objc.s24,.filetype_icon.perl.s24,.filetype_icon.python.s24,.filetype_icon.ruby.s24,.filetype_icon.erb.s24,.filetype_icon.rb.s24,.filetype_icon.xml.s24{background-position:0 -988px}
.filetype_icon.post.s24{background-position:0 -1022px}
.filetype_icon.snippet.s24{background-position:0 -1056px}
.filetype_icon.space.s24{background-position:0 -1328px}
.filetype_icon.email.s24{background-position:0 -1362px}
.filetype_icon.gpres.s24{background-position:0 -1090px}
.filetype_icon.gsheet.s24{background-position:0 -1124px}
.filetype_icon.gdoc.s24{background-position:0 -1158px}
.filetype_icon.gdraw.s24,.filetype_icon.gform.s24{background-position:0 -1192px}
.filetype_icon.dropbox.s24{background-position:0 -1226px}
.filetype_icon.doc.s24,.filetype_icon.docx.s24{background-position:0 -512px}
.filetype_icon.xls.s24,.filetype_icon.xlsx.s24{background-position:0 -546px}
.filetype_icon.ppt.s24,.filetype_icon.pptx.s24{background-position:0 -580px}
.filetype_icon.ai.s24{background-position:0 -614px}
.filetype_icon.psd.s24{background-position:0 -648px}
.filetype_icon.indd.s24{background-position:0 -682px}
.filetype_icon.fla.s24{background-position:0 -716px}
.filetype_icon.swf.s24{background-position:0 -1260px}
.filetype_icon.apk.s24{background-position:0 -784px}
.filetype_icon.ipa.s24{background-position:0 -818px}
.filetype_icon.s48{background:url(../img/filetype_icons_@4x.png);width:48px;height:64px;background-size:100%;background-position:0 -2510px}
.filetype_icon.audio.s48,.filetype_icon.mp3.s48,.filetype_icon.wav.s48,.filetype_icon.m4a.s48,.filetype_icon.ogg.s48{background-position:0 -2px}
.filetype_icon.text.s48,.filetype_icon.txt.s48,.filetype_icon.rtf.s48{background-position:0 -68px}
.filetype_icon.png.s48,.filetype_icon.jpg.s48,.filetype_icon.jpeg.s48,.filetype_icon.gif.s48,.filetype_icon.bmp.s48,.filetype_icon.eps.s48,.filetype_icon.image.s48,.filetype_icon.pages.s48,.filetype_icon.tiff.s48{background-position:0 -134px}
.filetype_icon.vector.s48{background-position:0 -200px}
.filetype_icon.video.s48,.filetype_icon.flv.s48,.filetype_icon.mov.s48,.filetype_icon.avi.s48,.filetype_icon.mp4.s48{background-position:0 -266px}
.filetype_icon.key.s48,.filetype_icon.keynote.s48,.filetype_icon.presentation.s48{background-position:0 -332px}
.filetype_icon.spreadsheet.s48,.filetype_icon.csv.s48,.filetype_icon.tsv.s48,.filetype_icon.numbers.s48{background-position:0 -398px}
.filetype_icon.iso.s48{background-position:0 -464px}
.filetype_icon.zip.s48{background-position:0 -530px}
.filetype_icon.dmg.s48{background-position:0 -596px}
.filetype_icon.exe.s48{background-position:0 -662px}
.filetype_icon.cad.s48{background-position:0 -728px}
.filetype_icon.gfx3d.s48{background-position:0 -794px}
.filetype_icon.db.s48,.filetype_icon.sql.s48{background-position:0 -860px}
.filetype_icon.pdf.s48{background-position:0 -926px}
.filetype_icon.binary.s48{background-position:0 -1454px}
.filetype_icon.md.s48,.filetype_icon.markdown.s48{background-position:0 -1652px}
.filetype_icon.html.s48{background-position:0 -1718px}
.filetype_icon.css.s48{background-position:0 -1784px}
.filetype_icon.php.s48{background-position:0 -1850px}
.filetype_icon.code.s48,.filetype_icon.c.s48,.filetype_icon.cpp.s48,.filetype_icon.csharp.s48,.filetype_icon.diff.s48,.filetype_icon.erlang.s48,.filetype_icon.java.s48,.filetype_icon.javascript.s48,.filetype_icon.objc.s48,.filetype_icon.perl.s48,.filetype_icon.python.s48,.filetype_icon.ruby.s48,.filetype_icon.erb.s48,.filetype_icon.rb.s48,.filetype_icon.xml.s48{background-position:0 -1916px}
.filetype_icon.post.s48{background-position:0 -1982px}
.filetype_icon.snippet.s48{background-position:0 -2048px}
.filetype_icon.space.s48{background-position:0 -2576px}
.filetype_icon.email.s48{background-position:0 -2642px}
.filetype_icon.gpres.s48{background-position:0 -2114px}
.filetype_icon.gsheet.s48{background-position:0 -2180px}
.filetype_icon.gdoc.s48{background-position:0 -2246px}
.filetype_icon.gdraw.s48,.filetype_icon.gform.s48{background-position:0 -2312px}
.filetype_icon.dropbox.s48{background-position:0 -2378px}
.filetype_icon.doc.s48,.filetype_icon.docx.s48{background-position:0 -992px}
.filetype_icon.xls.s48,.filetype_icon.xlsx.s48{background-position:0 -1058px}
.filetype_icon.ppt.s48,.filetype_icon.pptx.s48{background-position:0 -1124px}
.filetype_icon.ai.s48{background-position:0 -1190px}
.filetype_icon.psd.s48{background-position:0 -1256px}
.filetype_icon.indd.s48{background-position:0 -1322px}
.filetype_icon.fla.s48{background-position:0 -1388px}
.filetype_icon.swf.s48{background-position:0 -2444px}
.filetype_icon.apk.s48{background-position:0 -1520px}
.filetype_icon.ipa.s48{background-position:0 -1586px}
}
*/