/*添加用户样式*/
@charset "utf-8";


/*页面大小*/
.aui_content {
padding: 0px 0px ! important;
}
div.fieldset {
	margin: 0px 0px ! important;
	padding: 0px 0px ! important;
	height: 76px;
	/*overflow: auto;*/
}
/*index start*/
.body_main{width:442px;overflow-y: auto;overflow-x: hidden;height: 165px}
.box_title .text_content{text-align:center;padding:20px 0 10px 0;}
.box_title .text_content h1{font-weight:normal;}
.box_main{background:#ffffff;border-width:0 1px 0 1px;width:958px;;min-height:50px;}/*border:solid #D0D0D0;*/
.box_bottom{position:absolute;width:991px;height:7px;padding:0;}/**background:url('../img/box_bottom.png') no-repeat scroll center top transparent;*/
/*Tooltips*/
.tooltips_main{position:absolute;left:0;margin:-5px 0 0 2px;z-index:999;}
.tooltips_box,.tooltips,.msg{display:inline-block;*display:inline;*zoom:1;position:relative;border-style:solid;border-color:#FF1F1F;}
.tooltips,.msg{border-width:0 1px;*left:-2px;background-color:#FFCFCF;}
.tooltips_box{border-width:1px;line-height:1.5;}
.tooltips{margin:0 -2px;}
.msg{margin:1px -2px;padding:0 6px;color:#2F2C2C;text-shadow:0 1px 0 #FFFFFF;font-size:12px;}
.ov{background:url('../img/tri.gif') no-repeat scroll 0 0 transparent;position:absolute;left:30%;overflow:hidden;width:15px;height:15px;margin:16px 0 0 0;display:inline;}
/*regist*/
/* #zhixian {border-bottom: 1px dashed #BFBFBF;
padding: 76px;
width: 600px;
margin-left: auto;
margin-right: auto;} */
div[id^="team"] {margin-top: 30px;
float: left;
display: inline;}
.box_main .register{float:left;}  /** 可能跟其他页面有冲突*/
.box_main .register .form_submit{float:left;}/*删除了一条直线 **/
.box_main .register .form_submit .fieldset{float:left;}
.box_main .register .form_submit .fieldset .field-group{float:left;}/*每行间距height:55px;*/
.box_main .register .form_submit .fieldset .field-group .titl{float:left;width:100px;text-align:right;margin:4px 0 0 0;font-size:14px;}
.box_main .register .form_submit .fieldset .field-group .control-group{float:left;width:350px;margin:0 10px;}
.box_main .register .form_submit .fieldset .field-group .tips{float:left;width:250px;color:#8E8E8E;}
.box_main .register .div_submit{position:absolute;float:left;margin:320px 820px;}/*width:875px;*/
.box_main .register .div_submit .div_submit_button{float:right;}
/*end regist*/
.fieldset .input_add_background{/* background:url("../img/input.jpg") no-repeat scroll 100% 100% transparent; */background-position: center;height:30px;width:157px;float:left;margin:0 2px 0 0;}
.fieldset .input_add_background input.register_input_ot{/* background-color:#f9f9f9;border:0 none; */color:#4F4F4F;font-size:12px;height:18px;outline:medium none;width: 145px;padding:1px;margin:5px;}
.fieldset .input_add_long_background{/* background:url("../img/input_long.jpg") no-repeat scroll 100% 100% transparent; */background-position: center;height:30px;width:286px;float:left;margin:0 0 15px 0;display:inline;}
.fieldset .input_add_long_light_background{background:url("../img/input_long_light.jpg") no-repeat scroll 100% 100% transparent;background-position: center;height:30px;width:286px;float:left;}
.fieldset .input_add_long_background input.register_input{/* background-color:#f9f9f9;border:0 none; */color:#4F4F4F;font-size:12px;height:18px;outline:medium none;width: 270px;padding:1px;margin:5px;}
.fieldset .input_text{display:inline-block;position:absolute;vertical-align:top;margin:6px 0 0 10px;z-index:2;font-style:italic;color:#BFBFBF;}

